
<h2>Delete Database</h2>
<p class="text-danger">Are u sure to delete?</p>
<form method="post">
    <button class="btn btn-danger" type="submit">Yes</button>
    <a class="btn btn-info" asp-action="Index">Back</a>
</form>