@using App.Components
@model CategoryProductSidebar.CategoryProductSidebarData
@{
    int level = Model.level;
}
@if (Model.categories.Count > 0)
{
    <ul>
        @foreach(var category in Model.categories)
        {
            <li>
                <a asp-action="Index" asp-controller="ViewProduct" asp-route-categoryslug="@category.Slug">@category.Title</a>
            </li>
            @if(category.ChildrenCategories.Count > 0)
            {
                @await Component.InvokeAsync("CategoryProductSidebar", new CategoryProductSidebar.CategoryProductSidebarData()
                {
                    categories = category.ChildrenCategories.ToList(),
                    level = level + 1,
                    categorySlug = ViewBag.categoryslug
                })
            }
        }
    </ul>
}